<aside class="aside-admin ">
    <div class="admin-avatar">
        <img src="<%=user.avatar%>" alt="">
        <span><%=user.status?'adm':'user'%></span>
        <p><%=user.name%></p>
        <a href="/admin/logout"><i class="icon-exit"></i> Sair</a>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="icon-cog"></i> Site
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse <%=active.home=='active' | active.listEvent=='active' | active.about=='active' | active.service =='active'?'show':'' %> " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="/admin/home" id="<%=active.home%>">  <i class="icon-home"></i> HOME</a>
                    <a href="/admin/about" id="<%=active.about%>">  <i class="icon-man"></i> SOBRE</a>
                    <a href="/admin/event"id="<%=active.service%>">  <i class="icon-image"></i> EVENTO</a>
                    <a href="/admin/list-events"id="<%=active.listEvent%>">  <i class="icon-images"></i> GALERIA</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   <i class="icon-users"></i> Funcionários
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse <%=active.employees=='active' | active.addMember=='active' ?'show':'' %>" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="/admin/members" id="<%=active.employees%>"  >  <i class="icon-list"></i> Listar</a>
                    <a href="/admin/create/member" id= "<%=active.addMember%>" >  <i class="icon-plus"></i>Cadastrar</a>
                    <a href="#">  <i class="icon-user"></i>Usuários</a>
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   <i class="icon-film"></i> Videos
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse <%=active.videos=='active'|active.addVideos=='active'?'show':'' %>" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="/admin/videos" id="<%=active.videos%>">  <i class="icon-list"></i> Videos</a>
                    <a href="/admin/create/videos" id="<%=active.addVideos%>"></i> <i class="icon-plus"></i> Cadastrar</a>
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                   <i class="icon-file-pdf"></i> Informátivos
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse  <%=active.informative=='active'| active.addInformative=='active' ?'show':'' %>" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="/admin/list-informatives" id="<%=active.informative%>" >  <i class="icon-list"></i> Arquivos</a>
                    <a href="/admin/form-informatives" id="<%=active.addInformative%>" ></i> <i class="icon-plus"></i> Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
</aside>