<%- include('../partials/head-admin.ejs') %>

<main class="admin-main">
    
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/aside.ejs') %>
    <section class="section-adm">
        <div class="content">
            <h1><i class="icon-users"></i><span><i class="icon-plus" style="color: aliceblue;"></i></span> <%=title%></h1>

        </div>
    </section>
    
    <%- include('../partials/footer.ejs') %>
</main>

<script>
    
</script>
<%- include('../partials/scripts.ejs') %>