<%- include('../partials/head') %>
<%- include('../partials/header.ejs') %>
<main>

  <!-- ###### HOME ######### -->
  <section class="section" id="home">
    <div class="container-2 grid">
      <div class="image">
        <img src="<%=home[0].file.path%>" alt="Diretor na sala da DE com as fotos de todos os diretores.">
      </div>
      <div class="text">
        <h1 class="title"><i><%=home[0].title%></i> </h1>
        <h3><%=home[0].sub_title%></h3>
      </div>
    </div>
  </section>

  <div id="about1" class="divider-1"></div>
  <!-- ####### ABOUT ######## -->
  <section class="section" id="about">
    <div class="container-2 grid">
      <div class="image">
        <img src="<%=about[0].file.path%>" alt="Diretor de Representação Rodney Caeteano">
      </div>
      <div class="container">
        <h2 class="title-2"><%=about[0].title%></h2>
        <div class="text">
          <p><%=about[0].description%></p>
          <br>
        </div>

      </div>
  </section>

  <div class="divider-2"></div>
  <!-- ####### SERVICES ######## -->
  <section class="section" id="service">
    <div class="container-2  container grid">
      <header>
        <h2 class="title-2">Serviços</h2>
        <h3>Não Deixe de conferir o que preparamos para vocês! 🎁</h3>
        <p>
          Pensando em manter você atualizado disponibilizamos alguns meios de comunicação para informação e interação com a Diretoria de Relações Internas.
        </p>
      </header>
      <div class="cards grid container">
        <a href="/videos">
          <div class="card">
            <i class="icon-film"></i>
            <h3 class="title-3">Videos</h3>
            <p>Aqui você tem acesso aos vídeos e lives do Diretor de Relações internas, sobre os temas de interesse dos trabalhadores.</p>
          </div>
        </a>
        <!-- <a href="/podcast">
          <div class="card">
            <i class="icon-podcast"></i>
            <h3 class="title-3">Podcast's</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, aliquam! Cum sit </p>
          </div>
        </a> -->
        <a href="/informativos">
          <div class="card">
            <i class='icon-file-pdf'></i>
            <h3 class="title-3">Informátivos</h3>
            <p>Nesta sessão você conseguirá baixar conteúdos relevantes por escrito, atualizações normativas internas/externas e legislação pertinente ao nosso ambiente corporativo.</p>
          </div>
        </a>
        <a href="/galeria">
          <div class="card">
            <i class='icon-images'></i>
            <h3 class="title-3">Galerias</h3>
            <p>Visite nossa galeria de fotos e confira a cobertura da DE nas suas ações de Representação e/ou divulgando eventos e ações institucionais. </p>
          </div>
        </a>
      </div>
    </div>
  </section>

  <div class="divider-1"></div>
  <!-- ####### SLIDES DEPOIMENTOS ######## -->
  <section class="section" id="events">
    <% if(event.length>0){%> 
    <div class="container">
      <div class="context-header">
        <h2 class="title-2"><%=event[0].title  %> </h2>
        <p><%=event[0].description%> </p>
      </div>
      <header>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% event[0].files.forEach((image,index) =>{%>

            <div class="carousel-item <%=index==0? 'active':''%>">
              <img src="<%=image.path%>" height="10rem" class="d-block w-100" alt="<%=image.file_name%>">
            </div>
            <%})%>
           
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- <div class="events swiper-container">
          <h3>Comentários de quem foi.</h3>
          <div class="swiper-wrapper">
            <div class="event swiper-slide">
              <blockquote>
                <p>
                  <span>&ldquo;</span>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae provident sapiente consequatur quia
                  aperiam quod rerum aut repellat ullam, eveniet doloribus saepe ad enim earum excepturi iusto
                  perspiciatis nobis dicta?
                </p>
                <cite><span><img src="/images/assets/alessandro.jpg" alt=""></span>
                  Alessandro Barbosa Vitorio</cite>
              </blockquote>
            </div>

            <div class="event swiper-slide">
              <blockquote>
                <p>
                  <span>&ldquo;</span>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae provident sapiente consequatur quia
                  aperiam quod rerum aut repellat ullam, eveniet doloribus saepe ad enim earum excepturi iusto
                  perspiciatis nobis dicta?
                </p>
                <cite><span><img src="/images/assets/rodperfil.jpg" alt=""></span>
                  Rodney Caeteano</cite>
              </blockquote>
            </div>

            <div class="event swiper-slide">
              <blockquote>
                <p>
                  <span>&ldquo;</span>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae provident sapiente consequatur quia
                  aperiam quod rerum aut repellat ullam, eveniet doloribus saepe ad enim earum excepturi iusto
                  perspiciatis nobis dicta?
                </p>
                <cite>
                  <span><img src="/images/assets/trindade.jpg" alt=""></span>
                  Luiz Henrique Trindade
                </cite>
              </blockquote>
            </div>
          </div> -->
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
    </header>
    </div>
    <% } %> 
  </section>
  <!-- ####### CONTACTS ######## -->
  <div class="divider-2"></div>
  <section class="section" id="contact">
    <h2 class="title-2">Contato</h2>
    <div class="container-2 container grid">
      <div class="ilustract"> </div>
      <div class="text">
        <p>Entre em contato com a <span>Diretoria de Representação</span>,
          queremos tirar suas dúvidas, ouvir sugestões e principalmente as críticas.
        </p>
        <a href="https://api.whatsapp.com/send?phone=+5511964129516&text=Olá Gostaria de conversar" target="_blank"><i
            class="icon-whatsapp"></i>Entrar em contato</a>

      </div>
      <div class="links">
        <ul>
          <li><i class="icon-phone"></i>(11) 26939894 / 27963299 (R. 667)</li>
          <li><i class="icon-location"></i>Rua Santa Rita, 590 - Pari (Predio G)</li>
          <li><i class="icon-envelope-o"></i>de@sptrans.com.br</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="divider-1"></div>
  <!-- ####### TIME ######## -->
  <section class="section" id="time">
    <div class="container">
      <div class="context-header">
        <h2 class="title-2">Nossa Equipe</h2>
        <p>Nossa equipe está sempre pronta e preparada para atendê-lo de forma profissional e humanizada!!
        </p>
      </div>
      <div class="row ">
        <% members.map(member =>{%>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-header divider-1">
              <div class="img-time">
                <img src="<%=member.file.path%>" alt="">
                <span><%=member.location%></span>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"><span><%=member.name%></span>
                 
                <a href="/view-member-de/<%=member.id%> " class="member-view-de">  <i class="icon-info"></i> </a>
              </h5>
              <p class="card-text"><%=member.email%></p>
              <a href="https://api.whatsapp.com/send?phone=+55<%=member.cellphone%>&text=Olá Gostaria de conversar"
                class="btn btn-primary btn-whats"><i class="icon-whatsapp"></i>Entrar em contato</a>
            </div>
          </div>
        </div>
        <%})%>

        <!-- aqui fim divisão -->

      </div>
    </div>

    </div>
  </section>

  <div class="divider-2"></div>

</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts.ejs') %>