<%- include('../partials/head.ejs') %>
<%- include('../partials/header-pages.ejs') %>

<main id="videos">
  <% episodes.map(episode =>{%>

    <div class="card">
      <div class="image-card-video">
        <img src="<%=episode.thumbnail%>" title="YouTube video" allowfullscreen></img>
      </div>
      <div class="divider-1"></div>
      <div>
        <a href="/view-video?id=<%=episode.id%>"><i class="icon-play"></i></a>
      </div>
      <div class="">
        <h2><%=episode.title%></h2>
        <p class="text">
          <span>Data:</span><%=formatDate(episode.createdAt)%>
          <br>
          <span>Participante:</span><%=episode.members%>
          <br>
          <span>Duração:</span> <%=episode.video.duration%> min.
        </p>
      </div>
    </div>
    <% }) %> 
   
 


</main>


<%- include('../partials/scripts.ejs') %>