<%- include('../partials/head-admin.ejs') %>

<main class="admin-main">

    <%- include('../partials/header.ejs') %>
    <%- include('../partials/aside.ejs') %>
    <section class="section-adm">
        <div class="content">
            <h1><i class="icon-images"></i> <%=title%></h1>
            <div class="form-videos">
                <form action="" method="POST" id="form-event" enctype="multipart/form-data">
                    <% if(event.length > 0){%>
                        <input type="hidden" name="id" value="<%=event[0].id%> ">
                        <% }%>
                    <div class="mb-3">
                        <label for="title-about" class="form-label">Titulo</label>
                        <input type="text" name="title" value="" class="form-control" id="title-about"
                            placeholder="Digite o titulo">
                    </div>

                    <div class="mb-3">
                        <label for="image-about" class="form-label">Image - 'escolha até 5 imagens'</label>
                        <input class="form-control" type="file" name="carousel" multiple id="image-event"
                            accept="image/*">
                    </div>

                    <div class="mb-3">
                        <label for="description-about" class="form-label">Descrição</label>
                        <textarea name="description" class="form-control" id="description-about"></textarea>
                    </div>
                    <div class="btn-content-save">
                        <button type="submit" class="btn  btn-save"><i class="icon-cloud-check"></i> Salvar</button>
                    </div>
                </form>
            </div>

        </div>
    </section>

    <%- include('../partials/footer.ejs') %>
</main>

<script>
    const formEvent = document.querySelector('#form-event')
    const id = document.querySelector("input[name='id'")
    const title = document.querySelector("input[name='title'")
    const description = document.querySelector("textarea[name='description']")
    const imageEvent = document.querySelector("input[name='carousel']")

    formEvent.addEventListener("submit", async (e) => {
        e.preventDefault()
        const formData = new FormData();
        formData.append('id', id.value)
        formData.append('title', title.value)
        formData.append('description', description.value)
        formData.append('carousel', imageEvent.files)
        console.log(formData.get('carousel'));
        const config = {
            headers: {
                Authorization: `Bearer <%=token%>`,
                "Content-Type": `multipart/form-data; boundary=${formData._boundary}`,
            },
        };

        const resposta = await axios.put('<%=url%>/event', formData, config)
        console.log(resposta);
        if (resposta) {
            toastr["success"]('Evento', 'Atualizada com Sucesso')
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            formAbout.reset()

        }
    })
</script>
<%- include('../partials/scripts.ejs') %>