<%- include('../partials/head-admin.ejs') %>

<main class="admin-main">

    <%- include('../partials/header.ejs') %>
    <%- include('../partials/aside.ejs') %>
    <section class="section-adm">
        <div class="content">
            <h1><i class="icon-film"></i><span><i class="icon-list" style="color: aliceblue;"></i></span> <%=title%>
            </h1>
            <table class="table table-striped table-hover table-videos">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Título</th>
                        <th scope="col">Controle</th>
                    </tr>
                </thead>
                <tbody>
                    <%events.map(event =>{%>
                    <tr>
                        <th scope="row"><%=formatDate(event.createdAt)%> </th>
                        <td><%=event.title%></td>
                        <td class="control-list">
                            <a href="#"><i class="icon-pencil"></i></a>
                            <a href="/admin/delete/event/<%=event.id%>"> <i class="icon-bin"></i></a>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
            <!-- <nav class="pagination-video" aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                 
                  <% //for(let i = 0; i< pagination; i++){%> 
                  <li class="page-item"><a class="page-link" href="/admin/videos?page=<%=//i+1%> "><%=//i+1%> </a></li>
                  <% //} %> 
                </ul>
              </nav> -->
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
</main>

<script>

</script>
<%- include('../partials/scripts.ejs') %>