<%- include('./partials/head-admin.ejs') %>

<main class="admin-main">
    
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/aside.ejs') %>
    <section class="content">
        <h1>teste</h1>
    </section>
    
    <%- include('./partials/footer.ejs') %>
</main>

<script>
    
</script>
<%- include('./partials/scripts.ejs') %>